:root {
    --fresh-sky: #00a6fb;
    --steel-blue: #0582ca;
    --baltic-blue: #006494;
    --deep-space-blue: #003554;
    --ink-black: #051923;
    --black: #000000;
    --white: #ffffff;

    --gradient-radial: radial-gradient(#00a6fb, #0582ca, #006494, #003554, #051923);
}
