body {
    background: var(--gradient-radial);
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    background-color: var(--ink-black) !important;
}

.navbar-brand {
    margin: 0 2rem;
    color: var(--fresh-sky) !important;
    font-weight: bold;
}

.login-container {
    width: 550px;
    background: var(--ink-black);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
    color: var(--white);
}

.login-container h3 {
    color: var(--fresh-sky);
}
