body {
  padding-top: 5rem;
  background-color: var(--periwinkle);
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#0000FF;
}

h2{
	color: var(--ultra-violet);
}

.navbar-brand{
    margin:0 2rem;
}