body {
  padding-top: 5rem;
  background: var(--gradient-radial);
  color: var(--fresh-sky);
}

h1 {
  color: var(--fresh-sky);
}

h2 {
  color: var(--fresh-sky);
}

.navbar {
  background-color: var(--ink-black) !important;
}

.navbar-brand {
  margin: 0 2rem;
  color: var(--fresh-sky) !important;
  font-weight: bold;
}

.card-cuestionario {
  width: 14rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
