body {
    background: var(--gradient-radial);
    height: 100vh;
    color: var(--white);
}

.contenedor_general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opciones {
    display: flex;
    flex-direction: column;
}

label {
    font-size: large;
}

#contenedor-pregunta {
    width: 60%;
}

#tiempoAgotadoCard {
    display: none;
}

.contenedor_general {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card-metrica {
    width: 10rem;
    border-radius: 12px;
    color: var(--black);
    font-weight: bold;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
}

img {
    width: 64px;
    height: 64px;
    margin-bottom: 0.5rem;
}

.alert-pregunta {
    background-color: var(--deep-space-blue);
    color: var(--white);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
!important;
}

/* RESPUESTA */
.btn-respuesta {
    color: var(--white);
    background-color: var(--deep-space-blue);
    transition: 0.3s;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
}

.btn-respuesta:hover {
    background-color: var(--fresh-sky);
    border-color: var(--white);
}

.ayudas-container {
    margin-top: 1.5rem;
}

.btn-ayuda {
    color: var(--white);
    border-radius: 12px;
    transition: 0.3s;
    font-weight: bold;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
}

.btn-ayuda:hover {
    background-color: var(--steel-blue);
    border-color: var(--white);
}

.btn-ayuda-sin {
    border-color: var(--ink-black);
    background-color: var(--ink-black);
}

.btn-ayuda-duplicar, .btn-ayuda-eliminar {
    border-color: var(--baltic-blue);
    background-color: var(--baltic-blue);
}

.btn-ayuda-sin:hover, .btn-ayuda-duplicar:hover, .btn-ayuda-eliminar:hover {
    background-color: var(--steel-blue);
}

.btn-ayuda:disabled,
.btn-ayuda[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}
