<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Final de Modo Supervivencia</title>
    <!-- Boostrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilos -->
    <link rel="stylesheet" th:href="@{/css/colores.css}">
    <link rel="stylesheet" th:href="@{/css/final_partida.css}"/>
</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5">
        <h1 class="mb-3 text-center">¡Modo Supervivencia finalizado!</h1>

        <div class="stats-box mb-4 text-center">
            <p>Puntaje final: <span th:text="${survivalPuntaje}"></span></p>
            <p>Respuestas correctas: <span th:text="${survivalCorrectas}"></span></p>
            <p>Monedas ganadas: <span th:text="${monedas}"></span></p>
        </div>

        <a th:href="@{/home}" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>
</body>
</html>
