<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Final de partida</title>
    <!-- Boostrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <!-- Estilos -->
    <link rel="stylesheet" th:href="@{/css/colores.css}">
    <link rel="stylesheet" th:href="@{/css/final_partida.css}"/>
</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-5">
        <h1 class="mb-3">¡Cuestionario finalizado!</h1>
        <div class="stats-box mb-4">
            <p>Puntaje final: <span th:text="${puntajeTotal}"></span></p>
            <p>Respuestas correctas: <span th:text="${preguntasCorrectas}"></span></p>
            <p>Respuestas incorrectas: <span th:text="${preguntasErradas}"></span></p>
            <p>Monedas ganadas: <span th:text="${monedasCuestionario}"></span></p>
        </div>
        <a href="/spring/home" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>
</body>
</html>
