<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/colores.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Mi Web</a>
</nav>
<main role="main" class="container w-100 h-100">
    <div class="container d-flex flex-column align-items-center gap-4">

        <h1>Bienvenidos a Taller Web 1</h1>

        <!-- cuestionarios aleatorios -->
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <div th:each="cuestionario : ${cuestionarios}" class="card text-center p-3" style="width: 14rem;">
                <h5 th:text="${cuestionario.nombre}">Nombre del cuestionario</h5>
                <p th:text="${cuestionario.descripcion}">Descripción</p>
                <p><strong th:text="${cuestionario.categoria}">Categoría</strong></p>
                <a th:href="@{/iniciar?(idCuestionario=${cuestionario.id})}" class="btn btn-primary">
                    Ingresar
                </a>
            </div>
        </div>

        <div class="card p-3" style="gap:5px; width:30em">
            <form th:action="@{/iniciar}" method="get" class="d-flex flex-column gap-3">
                <input type="number" name="idCuestionario" placeholder="ID del cuestionario" required class="form-control">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>

        <a href="cuestionario/new" class="btn btn-lg btn-primary">Crear Cuestionario</a>
        <a href="login.html" class="btn btn-lg btn-danger">Cerrar sesión</a>

    </div>
</main>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>