<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/colores.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="d-flex justify-content-center align-items-center min-vh-100">

        <div class="login-container">
            <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
                <h3 class="form-signin-heading">Nuevo Usuario</h3>
                <hr class="colorgraph">
                <br>

                <label for="email">Email</label>
                <input th:field="*{email}" id="email" class="form-control" required/>
                <label for="password">Contraseña</label>
                <input th:field="*{password}" type="password" id="password" class="form-control" required/>
                <label for="nombre">Nombre de usuario</label>
                <input th:field="*{nombre}" type="text" id="nombre" class="form-control" required/>
                <br>
                <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" Type="Submit">Registrarme</button>
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>

        </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>