<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pregunta</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/pregunta.css}">
</head>
<body>

<!--<h2 th:text="${pregunta.enunciado}"></h2>

<form th:action="@{/responder}" method="post">
    <div th:each="opcion : ${pregunta.opciones}">
        <label>
            <input type="radio" name="respuesta" th:value="${opcion}" required>
            <span th:text="${opcion}"></span>
        </label><br/>
    </div>
    <button type="submit">Responder</button>
</form>
<p th:text="${error}"></p>
<div class="contenedor_general w-100">
<h2>¿Cuando fue la revolucion de mayo?</h2>

    <div>
<form class="opciones" action="#" method="post">

    <div>
    <input type="radio" name="respuesta" id="respuesta" value="25 de mayo" required>
    <label for="respuesta">25 de mayo</label>
    </div>
    <div>
    <input type="radio" name="respuesta" id="respuesta2" value="23 de abril" required>
    <label for="respuesta2">23 de abril</label>
    </div>
    <div>
    <input type="radio" name="respuesta" id="respuesta3" value="24 de mayo" required>
    <label for="respuesta3">24 de mayo</label>
    </div>
    <div>
    <input type="radio" name="respuesta" id="respuesta4" value="26 de mayo" required>
    <label for="respuesta4">26 de mayo</label>
    </div>
    <button type="submit">Responder</button>
</form>
    </div>
</div> -->
<div class="contenedor_general w-100">
    <div>
<h2 th:text="${pregunta.enunciado}"></h2>

<form th:if="${!respondida}" th:action="@{'/juego/' + ${cuestionario.id} + '/validar'}" method="post">
   <!-- <ul>
        <li th:each="opcion : ${opciones}">
            <input type="radio" name="respuesta" th:value="${opcion}"/>
            <span th:text="${opcion}"></span>
        </li>
    </ul>-->
    <div th:each="opcion : ${opciones}">
        <label>
            <input type="radio" name="respuesta" th:value="${opcion}" required>
            <span th:text="${opcion}"></span>
        </label><br/>
    </div>
    <input type="hidden" name="idPregunta" th:value="${pregunta.id}" />
    <input type="hidden" name="indicePregunta" th:value="${indicePregunta}">
    <input type="submit" value="Responder">
</form>
    <!--<form th:action="@{/siguiente}" method="post">
        <input type="hidden" name="indicePregunta" th:value="${indicePregunta}">
    <button type="submit">Siguiente</button>
    </form>-->
        <div th:if="${respondida}">
            <div th:if="${esCorrecta}" style="color: green; font-weight: bold;">
                ✅ ¡Respuesta correcta!
            </div>
            <div th:if="${!esCorrecta}" style="color: red; font-weight: bold;">
                ❌ Respuesta incorrecta.
            </div>
            <p>Puntaje Total <span th:text="${puntajeTotal}"></span></p>
            <form th:action="@{/siguiente}" method="post">
                <input type="hidden" name="indicePregunta" th:value="${indicePregunta}">
                <button type="submit">Siguiente</button>
            </form>
        </div>
</div>
</div>
</body>
</html>